/*==================
CLASSES DE FLEXBOX 
==================*/
.d-flex { display: flex  !important; }
.flex-direction-column { flex-direction: column !important; }
.align-items-center { align-items: center !important; }
.align-items-flex-end { align-items: flex-end !important; }
.justify-content-center { justify-content: center !important; }
.justify-content-space-between { justify-content: space-between !important; }

/*================================
CLASSES PARA TAMANHOS DE TITULOS 
================================*/
.header-h1 { font-size: 4rem !important; } /* biggest */
.header-h2 { font-size: 3.2rem !important; }
.header-h3 { font-size: 2.8rem !important; }
.header-h4 { font-size: 2.4rem !important; }
.header-h5 { font-size: 2rem !important; }
.header-h6 { font-size: 1.6rem !important; } /* smallest */


/*============================= 
CLASSES DE TAMANHOS DE TEXTOS 
=============================*/
.text-xs { font-size: 1.2rem !important; } /* extra small */
.text-sm { font-size: 1.4rem !important; } /* small */
.text-base { font-size: 1.6rem !important; } /* base */
.text-lg { font-size: 1.8rem !important; } /* large */
.text-xl { font-size: 2rem !important; } /* extra large */


/*===================
CLASSES DE TAMANHOS
===================*/
.height-100 { height: 100% !important; }
.height-100-vh { height: 100vh !important; }


/*=================
CLASSES DE MARGIN 
=================*/
/* MARGIN */
.m-1 { margin: 1rem !important; }
.m-2 { margin: 2rem !important; }
.m-3 { margin: 3rem !important; }
.m-4 { margin: 4rem !important; }
.m-5 { margin: 5rem !important; }

/* MARGIN X */
.mx-1 { margin: 0 1rem !important; }
.mx-2 { margin: 0 2rem !important; }
.mx-3 { margin: 0 3rem !important; }
.mx-4 { margin: 0 4rem !important; }
.mx-5 { margin: 0 5rem !important; }

/* MARGIN Y */
.my-1 { margin: 1rem 0 !important; }
.my-2 { margin: 2rem 0 !important; }
.my-3 { margin: 3rem 0 !important; }
.my-4 { margin: 4rem 0 !important; }
.my-5 { margin: 5rem 0 !important; }

/* MARGIN TOP */
.mt-1 { margin-top: 1rem !important; }
.mt-2 { margin-top: 2rem !important; }
.mt-3 { margin-top: 3rem !important; }
.mt-4 { margin-top: 4rem !important; }
.mt-5 { margin-top: 5rem !important; }

/* MARGIN RIGHT */
.mr-1 { margin-right: 1rem !important; }
.mr-2 { margin-right: 2rem !important; }
.mr-3 { margin-right: 3rem !important; }
.mr-4 { margin-right: 4rem !important; }
.mr-5 { margin-right: 5rem !important; }

/* MARGIN BOTTOM */
.mb-1 { margin-bottom: 1rem !important; }
.mb-2 { margin-bottom: 2rem !important; }
.mb-3 { margin-bottom: 3rem !important; }
.mb-4 { margin-bottom: 4rem !important; }
.mb-5 { margin-bottom: 5rem !important; }

/* MARGIN LEFT */
.ml-1 { margin-left: 1rem !important; }
.ml-2 { margin-left: 2rem !important; }
.ml-3 { margin-left: 3rem !important; }
.ml-4 { margin-left: 4rem !important; }
.ml-5 { margin-left: 5rem !important; }


/*==================
CLASSES DE PADDING 
==================*/
/* PADDING */
.p-1 { padding: 1rem !important; }
.p-2 { padding: 2rem !important; }
.p-3 { padding: 3rem !important; }
.p-4 { padding: 4rem !important; }
.p-5 { padding: 5rem !important; }

/* PADDING X */
.px-1 { padding: 0 1rem !important; }
.px-2 { padding: 0 2rem !important; }
.px-3 { padding: 0 3rem !important; }
.px-4 { padding: 0 4rem !important; }
.px-5 { padding: 0 5rem !important; }

/* PADDING Y */
.py-1 { padding: 1rem 0 !important; }
.py-2 { padding: 2rem 0 !important; }
.py-3 { padding: 3rem 0 !important; }
.py-4 { padding: 4rem 0 !important; }
.py-5 { padding: 5rem 0 !important; }

/* PADDING TOP */
.pt-1 { padding-top: 1rem !important; }
.pt-2 { padding-top: 2rem !important; }
.pt-3 { padding-top: 3rem !important; }
.pt-4 { padding-top: 4rem !important; }
.pt-5 { padding-top: 5rem !important; }

/* PADDING RIGHT */
.pr-1 { padding-right: 1rem !important; }
.pr-2 { padding-right: 2rem !important; }
.pr-3 { padding-right: 3rem !important; }
.pr-4 { padding-right: 4rem !important; }
.pr-5 { padding-right: 5rem !important; }

/* PADDING BOTTOM */
.pb-1 { padding-bottom: 1rem !important; }
.pb-2 { padding-bottom: 2rem !important; }
.pb-3 { padding-bottom: 3rem !important; }
.pb-4 { padding-bottom: 4rem !important; }
.pb-5 { padding-bottom: 5rem !important; }

/* PADDING LEFT */
.pl-1 { padding-left: 1rem !important; }
.pl-2 { padding-left: 2rem !important; }
.pl-3 { padding-left: 3rem !important; }
.pl-4 { padding-left: 4rem !important; }
.pl-5 { padding-left: 5rem !important; }


