@keyframes slideDown {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.boxMessage {
  background-color: rgb(211, 5, 5);
  color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid rgb(121, 0, 0);
  margin: auto;
  margin-top: 2rem;
  width: 60%;
  transition: 300ms;
  animation: slideDown 0.5s ease-out;
}
