.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white);
    align-items: center;
}


.logo {
    height: 2.25rem;
    padding-left: 1rem;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 2.25rem;
    align-items: center;
    padding: 1rem;
}

.info form {
    width: max-content;
    padding: 0.5rem;
    background-color: var(--white);
    display: flex;
    border: 1px solid #dadada;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.750rem;
    transition: 200ms;
}

.info form input {
    font-size: 1rem;
    border: none;
    outline: none;
    background: transparent;
}

.info form:hover{
    box-shadow: 0 0 8px #0000003a;
}

.perfilBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.icon {
    height: 2rem;
    width: 2rem;
    background-color: var(--penn-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.titlePerfil{
    font-size: 14px;
    font-weight: 500;
    color: var(--penn-blue);
    cursor: pointer;
}

.secondHeader{
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.026);
}

.secHeaderContent{
    max-width: 1440px;
    display: flex;
    padding: 1rem;
    gap: 3rem;
}

.secHeaderContent a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    text-decoration: none;
    transition: 200ms;
}

.secHeaderContent a span {
    color: var(--penn-blue);
    font-size: 1rem;
    font-weight: 400;
}

.categories:hover {
    transform: scale(1.1);
}

.logout {
    display: flex;
    border: none;
    border-radius: 0.5rem;
    padding: 0.375rem;
    color: var(--penn-blue);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 300ms;
}

.logout:hover {
    background-color: var(--penn-blue);
    color: var(--white);
    font-weight: bold;
    box-shadow: none;
}

.logoutButton{
    background-color: var(--penn-blue);
    color: white;
    font-weight: 500;
    border: none;
    padding: 0.3rem;
    font-size: 1rem;
    margin-right: 1.5rem;
    border-radius: 10px;
    width: 4.2rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.divisor{
    border: 1px solid #dad8e9c5;
}