apiVersion: v1
kind: Service
metadata:
  name: django-service
spec:
  type: NodePort  # LoadBalancer Ou NodePort se estiver em um ambiente local
  selector:
    app: django-backend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
      nodePort: 30600  # Porta externa (escolha entre 30000-32767)