apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-backend
spec:
  replicas: 5
  selector:
    matchLabels:
      app: django-backend
  template:
    metadata:
      labels:
        app: django-backend
    spec:
      containers:
      - name: django
        image: pratiler/backend
        command: ["/bin/sh", "-c"]
        args: ["python mysite/manage.py migrate && python mysite/manage.py runserver 0.0.0.0:8000"]
        ports:
        - containerPort: 8000
        env:
        - name: DEV
          value: "1" # Set to "0" for production
