:root{
    /* Fontes  */
    --font-family: "Montserrat", sans-serif;
    --h1-title: 800 1.5rem/135% var(--font-family) ;
    --h2-title: 800 1.25rem/140% var(--font-family);
    --h3-title: 600 1rem/140% var(--font-family);
    --text-md: 600 1rem/140% var(--font-family);

    /* Cores */
    --night: #131313;
    --penn-blue: #221D57;
    --ultra-violet: #6761A8;
    --periwinkle: #D0C5FF;
    --periwinkle-light: #E1DAFF;
    --chartreuse: #D5F000;
    --plum: #F399DD;
    --white: #f6f6f6;
}

.container{
    background-color: var(--periwinkle-light);
    width: 50%;
    color: var(--penn-blue);
    text-align: center;
    height: 100vh; 
    align-content: center;
}

.container h2{
    padding: 2rem;
    font-weight: lighter;
}

.container input{
    background-color: var(--penn-blue);
    border-radius: 15px;
    padding: 10px;
    color: var(--white);
    font-weight: bolder;
    width: 10rem;
    border: none;
}