:root{
    /* Fontes  */
    --font-family: "Montserrat", sans-serif;
    --h1-title: 800 1.5rem/135% var(--font-family) ;
    --h2-title: 800 1.25rem/140% var(--font-family);
    --h3-title: 600 1rem/140% var(--font-family);
    --text-md: 600 1rem/140% var(--font-family);

    /* Cores */
    --night: #131313;
    --penn-blue: #221D57;
    --ultra-violet: #6761A8;
    --periwinkle: #D0C5FF;
    --periwinkle-light: #E1DAFF;
    --chartreuse: #D5F000;
    --plum: #F399DD;
    --white: #f6f6f6;
}
.return{
    display: flex;
    width: 100%;
}
.container{
    background-color: var(--periwinkle-light);
    color: var(--penn-blue);
    text-align: center; 
    align-content: center;
    height: 100vh;
    width: 55%;
}

.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.formularioLogin{
    align-content: center;
    background-color: var(--white);
    height: 100%;
    width: 45%;
    position: absolute;
    z-index: 1;
    right: 180px;
    border-radius: 50px 0px 0px 50px;
}

.formularioLogin h1{
    color: var(--penn-blue);
    text-align: center;
    font-family: var(--font-family);
}

.formularioLogin p{
    color: var(--ultra-violet);
    margin-top: 1rem;
    text-align: center;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.inputText{
    border: 1px solid var(--periwinkle);
    padding: 5px;
    border-radius: 15px;
    width: 20rem;
    font: var(--text-md);
    margin: auto;
    margin-top: 2rem;
}

.inputSubmit{
    margin: auto;
    margin-top: 1rem;
    background-color: var(--penn-blue);
    border-radius: 15px;
    padding: 10px;
    color: var(--white);
    font-weight: bolder;
    width: 10rem;
    border: none;
    cursor: pointer;
    transition: 300ms;
}

.inputSubmitLogin{
    margin: auto;
}

.inputSubmit:hover {
    outline: 3px solid var(--penn-blue);
    background-color: var(--white);
    color: var(--penn-blue);
}

.mensagem{
    color: var(--night);
    font-weight: bolder;
}
.mensagem a{
    color: var(--ultra-violet);
    font-weight: 200;
}

