@import url('../base.css');

.return {
  display: flex;
  width: 100%;
}
.container {
  background-color: var(--periwinkle-light);
  color: var(--penn-blue);
  text-align: center;
  align-content: center;
  height: 100vh;
  width: 55%;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.formularioLogin {
  align-content: center;
  background-color: var(--white);
  height: 100%;
  width: 45%;
  position: absolute;
  z-index: 1;
  right: 180px;
  border-radius: 50px 0px 0px 50px;
}

.formularioLogin h1 {
  color: var(--penn-blue);
  text-align: center;
  font-family: var(--font-family);
}

.formularioLogin p {
  color: var(--ultra-violet);
  margin-top: 1rem;
  text-align: center;
}

.formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mensagem {
  color: var(--night);
  font-weight: bolder;
}
.mensagem a {
  color: var(--ultra-violet);
  font-weight: 200;
}
