@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
:root{
    --montserrat: "Montserrat", sans-serif;
    --roboto: "Roboto Flex", sans-serif;
}
.form-escrever-resenha{
    margin: 0 auto;
    border: 2px solid #D0C5FF;
    border-radius: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 60%;
    color: #221D57;
    margin-bottom: 1rem;
}
.label-escrever-resenha{
    font-family: var(--montserrat);
    padding-top: 1.5rem;
    font-size: 16px;
    font-weight: bold;
}
.itens-forms-escrever-resenha{
    display: block;
    margin: 0.5rem 0;
}
.error{
    font-family: var(--roboto);
    color: #221D57;
    font-weight: bolder;
    text-align: center;
    font-size: 1.2rem;
}