@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
:root{
    --montserrat: "Montserrat", sans-serif;
    --roboto: "Roboto Flex", sans-serif;
}
.select{
    margin: 3rem 13rem;
    margin-bottom: 0;
    background-color: #F6F6F6;
    border: 1px solid #D0C5FF;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.5rem;
    font-family: var(--roboto);
}

.add-livro{
    cursor: pointer;
    margin: 1rem 13rem;
    margin-bottom: 2rem;
    color: white;
    background-color: #221D57;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: var(--roboto);
}

.interacao-livro{
    margin: 0 13rem;
    display: flex;
    margin-bottom: 2rem;
}
.interacao-livro img{
    margin-right: 2rem;
}
.interacao-livro .conteudo h1{
    font-family: var(--montserrat);
    font-size: 1.5rem;
    color: #221D57;
    margin-top: 0;
}

.interacao-livro .conteudo p{
    font-family: var(--roboto);
}

.interacao-livro .conteudo button{
    color: white;
    background-color: #221D57;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: var(--roboto);
}

.mensagem{
    margin: 0 13rem;
    margin-bottom: 2rem;
    font-family: var(--roboto);
    font-weight: bold;
    color: #221D57;
    background-color: #D5F000;
    width: 13rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.escondido {
    display: none;
}

#popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#popup-content {
    height: 40rem;
    overflow-y: scroll;
    background: #F6F6F6;
    border: 2px solid #D5F000;
    border-radius: 30px;
    max-width: 55rem;
    width: 100%;
    padding: 2rem 4rem;
    margin: auto;
    margin-top: 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#popup-content h2{
    font-family: var(--montserrat);
    color: #221D57;
}
#popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
#select-listas-1{
    margin: 0;
}
.interacao-livro-1{
    margin: 0;
    display: flex;
    margin-top: 2rem;
    padding: 2rem;
    border: 1px solid #D0C5FF;
    border-radius: 1.5rem;
}
.interacao-livro-1 .imagem img{
    width: 10rem;
    height: 14rem;
}
.interacao-livro-1 .conteudo h1{
    font-size: 1.2rem;
    font-family: var(--montserrat);
    color: #221D57;
    margin-left: 1rem;
    margin-top: 0;
}
.interacao-livro-1 .conteudo p{
    font-family: var(--roboto);
    margin-left: 1rem;
    margin-top: 0;
}
.input-radio{
    align-self: flex-start;
    background-color: blue;
}
.selecionado{
    border: 2px solid #D5F000;
    border-radius: 1.5rem;
}
.botao{
    cursor: pointer;
    margin-top: 2rem;
    color: white;
    background-color: #221D57;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: var(--roboto);
}