@import url('../base.css');

.noBooks {
  height: auto;
  box-shadow: none;
}

.boxNoBooks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
  gap: 2rem;
}

.titleNoBooks {
  color: rgb(185, 185, 185);
  font-weight: 900;
  font-size: 2.5rem;
  /* text-transform: uppercase; */
  text-shadow: -4px 4px 2px var(--periwinkle-light);
}
