@import url("../base.css");

.content{
    display: flex;
    margin-top: 2rem;
    margin: 3rem auto;
    justify-content: space-around;
}

.postagens{
    margin-right: 12rem;
}

body{
    background-color: #F9F8FF;
}