.sectionBox {
    width: 80%;
    max-width: 1028px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding-block: 5rem;
    gap: 2rem;
}

.listButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.listButtons select {
    font-size: 0.875rem;
    padding: 0.5rem;
    border-radius: 8px;
    color: var(--penn-blue);
    border: 1px solid var(--periwinkle);
    background-color: var(--white);
}

.btnPlusBook {
    background-color: var(--penn-blue);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    color: var(--white);
    gap: 0.625rem;
    font-size: 0.875rem;
    cursor: pointer;
}

.sectionCards {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.sectionCards img {
    height: 248px;
    width: 188px;

    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}