@import url("../base.css");

.container {
  display: flex;
  align-items: center;
  padding: 0 10rem;
  margin: 1rem 0;
}

.realizarAvaliacao {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
}

.realizarAvaliacao textarea {
  background-color: var(--white);
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  height: 8rem;
  width: 21.4rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  resize: none;
}

.botao {
  align-self: flex-end;
  background-color: var(--penn-blue);
  color: #f6f6f6;
  border: none;
  border-radius: 10px;
  padding: 0.3rem;
  font-family: var(--montserrat);
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
}

.estrelas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.estrelas button {
  background: none;
  border: none;
  cursor: pointer;
}

.estrelaPreenchida,
.estrela {
  color: var(--ultra-violet);
}

.estrelaPreenchida path {
  fill: var(--ultra-violet);
}
