<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | Pratiler</title>
    <link rel="stylesheet" href="{% static 'css/auth.css'%}">
</head>
<body>
    <!-- HEADER -->
    <div>
        <div class="header-auth">
            <h1><a href="{% url 'home' %}">PraTiLer</a></h1>
        </div>
    </div>
    <!-- FIM DO HEADER -->

    <!-- CADASTRO -->
    <div class="auth-wrapper">
        <span class="auth-title"><b>Cadastro</b><hr></span>
        <form action="#" class="auth-form" method="post">
            {% csrf_token %}
            <div class="auth-input-wrapper">
                <div class="auth-input">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="auth-input">
                    <input type="text" name="primeiro_nome" placeholder="Primeiro nome" required>
                </div>
                <div class="auth-input">
                    <input type="text" name="username" placeholder="Nome de usuario" required>
                </div>
                <div class="auth-input">
                    <input type="password" name="senha" placeholder="Senha" required>                    
                </div>
            </div>
            <div class="auth-submit">
                <input type="submit" value="Cadastre-se">
            </div>
        </form>
        <span>Já possui uma conta? <a href="{% url 'login' %}">Login</a></span>
    </div>
    <!-- FIM DO CADASTRO -->
</body>
</html>