{% extends 'mainapp/base.html' %}
{% load static %}
    
{% block titulo %}Pratiler | Seguindo{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/feed_seguindo.css'%}">
{% endblock %}
{% block conteudo %}
    <main>
        {%if comentarios_recentes%}
        <div class="comentarios-seguindo">
            {% for c in comentarios_recentes %}
                <p>{{c.leitor.user.username}}</p>
                <p>{{c.data_hora}}</p>
                <p>{{c.livro.titulo}}</p>
                <p>{{c.texto}}</p>
            {%endfor%}
        </div>
        {% else%}
            <p>Você não segue ninguém para ver os comentários de seguidores</p>
        {%endif%}
    </main>
{% endblock %}
