<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css'%}">
    <title>Pratiler | Feed Relevantes</title>
</head>
<body>
    <nav>
        <div class="search-bar">
            <h1>PraTiLer</h1>
            <input type="text">
        </div>
        <div class="nav-bar">
            <ul>
                <li>
                    <a href="">Minha estante</a>
                    <a href="">Livros populares</a>
                    <a href="">Publicações populares</a>
                    <a href="">Seguindo</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <h1>PraTiLer | Feed Relevantes </h1>
        {% if comentarios_relevantes %}
        <ul> 
            {% for comentario in comentarios_relevantes %}
            <li>
                <p>
                    {{ comentario.leitor.user.first_name }}
                </p>
                <p>
                    <strong>{{ comentario.leitor.user.username}}</strong>
                </p>
                <p>
                    {{ comentario.livro.titulo }} - {{ comentario.livro.autor.nome }}
                </p>
                
                <p>
                    Página {{comentario.pagina_final}}/{{comentario.livro.n_paginas}}
                </p>
                <p>
                    {{ comentario.texto }}
                </p>
                <p>
                    {{ comentario.data_hora }}
                </p>
            </li>
            {% endfor %}
        </ul>
           
        {% else %}
        <p>Não há comentários relevantes no momento.</p>
        {% endif %}
    </main>
</body>
</html>