{% extends 'mainapp/base.html' %}
{% load static %}

{% block titulo %}Pratiler | Feed Relevantes{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/postar_comentario.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/feed_geral.css' %}">
    <script>
        function atualizarPagina(){
            document.getElementById('livro-select').addEventListener('change', function() {
                var selectedOption = this.options[this.selectedIndex];
                var ultimaPagina = selectedOption.getAttribute('ultima-pagina');
                console.log("Livro selecionado:", selectedOption.text);
                console.log("Última página lida:", ultimaPagina)
                document.getElementById('pagina-inicial').placeholder = ultimaPagina;
            });
        }
    </script>
{% endblock %}
{% block conteudo %}
    <h1>PraTiLer | Feed Relevantes </h1>
    <main>
        {% include 'mainapp/postar_comentario.html'%}
        {% if comentarios_relevantes %}
        <ul>
            {% for comentario in comentarios_relevantes %}
                {% include 'mainapp/comentario.html' %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há comentários relevantes no momento.</p>
    {% endif %}
    </main>
{% endblock %}

