<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PraTiLer | Feed Seguindo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/feed_seguindo.css'%}">
</head>
<body>
    <nav>
        <div class="search-bar">
            <h1>PraTiLer</h1>
            <input type="text">
        </div>
        <div class="nav-bar">
            <ul>
                <li>
                    <a href="">Minha estante</a>
                    <a href="">Livros populares</a>
                    <a href="">Publicações populares</a>
                    <a href="">Seguindo</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <form method="post" action="{% url 'feed' %}">
        {% csrf_token %}
            {% if livros %}
            <select class="livros">
                {% for l in livros %}
                <option>{{ l.livro.titulo }}</option>
                {% endfor %}
            </select>
            {% endif %}
            <label>
                Da página: <input type="number" name="pagina-inicial" min="0">
                Até a página: <input type="number" name="pagina-final" min="1">
            </label>
            <textarea>Escreva seu comentário</textarea>
            <input type='submit' value='Postar'>
        </form>

        {%if comentarios_recentes%}
        <div class="comentarios-seguindo">
            {% for c in comentarios_recentes %}
                <p>{{c.leitor.user.username}}</p>
                <p>{{c.data_hora}}</p>
                <p>{{c.livro.titulo}}</p>
                <p>{{c.texto}}</p>
            {%endfor%}
        </div>
        {% else%}
            <p>Você não segue ninguém para ver os comentários de seguidores</p>
        {%endif%}
    </main>
</body>
</html>