{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Home | Pratiler</title>
</head>
<body>
    <header>
        <img src="{% static 'images/pratiler-logo.png' %}" width="20%">
        <div>
            <a id="login" href="{% url 'login' %}"><b>Login</b></a>
            <a id="cadastro" href="{% url 'cadastro' %}"><b>Cadastre-se</b></a>
        </div>
    </header>
        <main>
            <p class="conteudo">Uma rede social para <b>compartilhar</b> leituras se <b>divertindo</b></p>
            <p class="conteudo">e se <b>motivar</b> cada vez mais!</p>
            <a class="conteudo" href="{% url 'login' %}">Conheça nossa rede</a>
            <div class="sobre-nos">
                <div class="texto-1">
                    <div>
                        <img src="" alt="imagem1">
                    </div>
                    <div class="texto">
                        <h3>Texto Texto Texto</h3>
                        <p>Texto Texto Texto Texto
                            Texto Texto Texto Texto 
                            Texto Texto Texto Texto 
                            Texto Texto Texto Texto 
                            Texto Texto Texto Texto 
                        </p>
                    </div>
                </div>
                <div>
                    <div class="texto">
                        <h3>Texto Texto Texto</h3>
                        <p>Texto Texto Texto Texto
                            Texto Texto Texto Texto 
                            Texto Texto Texto Texto 
                            Texto Texto Texto Texto 
                            Texto Texto Texto Texto 
                        </p>
                    </div>
                    <div>
                        <img src="" alt="imagem2">
                    </div>
                </div>
                <div>
                    <div>
                        <img src="" alt="imagem3">
                    </div>
                    <div class="texto">
                        <h3>Texto Texto Texto</h3>
                        <p>Texto Texto Texto Texto
                            Texto Texto Texto Texto 
                            Texto Texto Texto Texto 
                            Texto Texto Texto Texto 
                            Texto Texto Texto Texto 
                        </p>
                    </div>
                </div>
            </div>
        </main>
</body>
</html>