{% extends 'mainapp/pagina_leitor.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/pub_recentes_perfil.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/postar_comentario.css' %}">
<script>
    function atualizarPagina(){
        document.getElementById('livro-select').addEventListener('change', function() {
            var selectedOption = this.options[this.selectedIndex];
            var ultimaPagina = selectedOption.getAttribute('ultima-pagina');   
            if(!ultimaPagina){
                document.getElementById('pagina-inicial').value = 0;
            }
            else{
                document.getElementById('pagina-inicial').value = ultimaPagina;
            }
        });
    }
</script>
{% endblock %}
{% block main %}
<!-- Opção Minhas Publicações Recentes / São os comentários -->
 <div class="main-pub-recentes">
    <div class="meu-perfil-postar-comentario">
        {% if leitor == request.user.usuario %}
            {% include 'mainapp/postar_comentario.html'%}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endif %}
     </div>
     <div class="comentarios-perfil">
        {% if leitor.comentario_set.all %}
        {% for cp in leitor.comentario_set.all %}
        <div class="comentario">
            <div class="nome-botao-seguir-data">
                <div class="perfil">
                    <img src="{% static 'images/foto-perfil.png' %}">
                    <div class="nome">
                        <p>
                            {{ cp.leitor.user.first_name }}
                        </p>
                        <a href="">@{{ cp.leitor.id_username}}</a>
                    </div>
                </div>
                
                <p class="data">
                    {{ cp.data_hora|date:"d M, Y" }}
                </p>
            </div>
            <p class="titulo-autor">
                {{ cp.livro.titulo }} - {{ cp.livro.autor.nome }}
            </p>
            <p class="paginas">
                Parou na página {{cp.pagina_final}} de {{cp.livro.n_paginas}} páginas.
            </p>
            <p>
                {{ cp.texto }}
            </p>
            
            
            <form method="post" action="">
                {% csrf_token %}
                <button type="submit">Curtir</button>
            </form>

        </div>
        {% endfor %}
    </div>
    {% endif %}
     </div>
 </div>
 
{% endblock%}