{% extends 'mainapp/base.html' %}
{% load static %}

{% block titulo %}Pratiler | Livros populares{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/livros_pop.css'%}">
{% endblock %}

{% block conteudo %}
    <main>
        {%if livros_populares%}
            {%for l in livros_populares%}
                <div id="Livro-popular-lista">
                    <p class="rank">
                        {{ forloop.counter }}
                    </p>
                    <img src="{{ l.capa.url }}" width="200px" height="300px">
                    <div class="cont-livro-popular">
                        <h1>
                            {{ l.titulo }} - {{l.autor}}
                        </h1>
                        <p>
                            {{ l.descricao }}
                        </p>
                        <p class="n-paginas">
                            {{l.n_paginas}} páginas.
                        </p>
                        <button class="botao" id="iniciar-leitr">Iniciar leitura</button>
                        <button class="botao" id="add-lista">Adicionar a lista</button>
                        {% comment %} <p class="n">XX leitores comentaram esse livro na última semana</p> <!-- funcionalidade de ver quantos leitors comentaram na ultima semana--> {% endcomment %}
                    </div>                  
                </div>
            {%endfor%}
        {%else%}
        <h1 class="error">Não há livros populares no momento.</h1>
        {%endif%}
    </main>
{% endblock %}