<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PraTiLer | Livros populares</title>
</head>
<body>
    <nav>

    </nav>
    <main>
        {%if livros_populares%}
        <ul>
            {%for l in livros_populares%}
            <li>{{l.titulo}}</li>
            {%endfor%}
        </ul>
        {%else%}
        <h1>Não há livros populares no momento.</h1>
        {%endif%}
    </main>
</body>
</html>