{% extends 'mainapp/base.html' %}
{% load static %}
{% block titulo %}Pratiler | {{request.user.username}}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/minha_estante_perfil.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/resenhas.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/perfil_usuario_nav.css'%}">
{% endblock %}
{% block conteudo %}
    {% include "mainapp/perfil_usuario_nav.html" %}
    
{% endblock%}