{% extends 'mainapp/base.html' %}
{% load static %}
{% block titulo %}Pratiler | {{request.user.username}}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/minha_estante_perfil.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/perfil_usuario_nav.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/resenhas.css' %}">
{% endblock %}
{% block conteudo %}
    {% include "mainapp/perfil_usuario_nav.html" %}

<div class="block-resenhas">
    <p>Resenhas</p>
    <div class="resenhas">
        {%if resenhas %}
            {% for resenha in resenhas %}
                <div class="card-resenhas">
                    <div class="card-resenhas-content">
                        <p><strong>{{resenha.livro.titulo}} - {{resenha.livro.autor.nome}}</strong></p>
                        <p>{{ resenha.titulo }}</p>
                        <a href="{% url 'abrir_resenha_especifica' resenha.id%}" class="botao-ler-resenha">Ler resenha</a>
                    
                    </div>
                    <img src="{{ resenha.livro.capa }}">
                </div>
            {% endfor %}
        {%else%}
            <p class="mensagem">Não há resenhas postadas ainda</p>
        {% endif %}
    </div>
    <a href="{% url 'escrever_resenha' %}" class="botao-escrever-resenha">Escrever Resenha</a>
</div>
{% endblock%}