{% extends 'mainapp/base.html' %}
{% load static %}
{% block titulo %}Pratiler | {{request.user.username}}{% endblock %}
{% block conteudo %}
<div class="card-profile">
    <img src="" alt="">
    <div class="card-profile-content">
        <p>Seu Nome</p>
        <p>@seunick</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt soluta reprehenderit mollitia quos enim quis ducimus sit impedit fugiat culpa, alias incidunt obcaecati et pariatur dolores? Fugit deserunt, reiciendis error ut, tenetur, distinctio sequi aliquid iste non ipsum harum aliquam.</p>
        <p> x seguidores x seguindo</p>
        <p>Configurações</p>
    </div>
</div>
<hr>
{% endblock%}