{% extends 'mainapp/base.html' %}
{% load static %}
{% block titulo %}Pratiler | {{request.user.username}}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/minha_estante_perfil.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/perfil_usuario_nav.css'%}">
{% endblock %}
{% block conteudo %}
    {% include "mainapp/perfil_usuario_nav.html" %}
<!-- Opção Minha Estante -->
<div class="block-pessoal-minha-estante">
        <!-- Listas do usuário -->
        <div class="listas-perfil">
            <!-- Lista Estou Lendo -->
            <div class="lendo-perfil">
                <ul class="card-lendo-perfil">
                    <h2 class="titulo-listas-perfil">Leituras atuais</h2>
                    {% for interacao in lendo %}
                        <li>
                            <h3>{{ interacao.livro.titulo }} - {{ interacao.livro.autor.nome }}</h3>
                            <p>{{ interacao.livro.n_paginas}} páginas</p>                           
                        </li>
                    {% endfor %}
                </ul>
                <a class="adicionar" href="">Adicionar livro</a>
            </div>
            <!-- Lista Desejo Ler -->
            <div class="ler-perfil">
                <ul class="card-ler-perfil">
                    <h2 class="titulo-listas-perfil">Livros para ler</h2>
                    {% for interacao in desejo_ler %}
                        <li>
                            <h3>{{ interacao.livro.titulo }} - {{ interacao.livro.autor.nome }}</h3>
                            <p>{{ interacao.livro.n_paginas}} páginas</p>
                        </li>
                    {% endfor %}
                </ul>
                <a class="adicionar" href="">Adicionar livro</a>
            </div>
            <!-- Lista Lido -->
            <div class="lido-perfil">
                <ul class="card-lido-perfil">
                    <h2 class="titulo-listas-perfil">Livros lidos</h2>
                    {% for interacao in lidos %}
                        <li>
                            <h3>{{ interacao.livro.titulo }} - {{ interacao.livro.autor.nome }}</h3>
                            <p>{{ interacao.livro.n_paginas}} páginas</p>
                        </li>
                    {% endfor %}
                </ul>
                <a class="adicionar" href="">Adicionar avaliação</a>
            </div>
        </div>
</div>
{% endblock%}