{% extends 'mainapp/base.html' %}
{% load static %}

{% block titulo %}Pratiler | Minha Estante{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/minha_estante.css' %}">
{% endblock %}

{% block conteudo %}
    <div class="listas">
        <div class="ler">
            <ul>
                <h2>Desejo ler</h2> <a href="">Adicionar Livro</a>
                {% for interacao in desejo_ler %}
                    <li>
                        <h3>{{ interacao.livro }}</h3><br>
                        <p>&emsp;{{ interacao.livro.descricao }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="lendo">
            <ul>
                <h2>Lendo</h2>
                {% for interacao in lendo %}
                    <li>
                        <h3>{{ interacao.livro }}</h3><br>
                        <p>&emsp;{{ interacao.livro.descricao }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="lido">
            <ul>
                <h2>Lidos</h2>
                {% for interacao in lidos %}
                    <li>
                        <h3>{{ interacao.livro }}</h3><br>
                        <p>&emsp;{{ interacao.livro.descricao }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}