{% extends 'mainapp/base.html' %}
{% load static %}

{% block titulo %}Pratiler | Minha Estante{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/minha_estante.css' %}">
    <script>  
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('lista').value = "lendo";
            tela();
        });
        function atualizarPagina(){
            document.getElementById('select-listas').addEventListener('change', function() {
                var selectedOption = this.options[this.selectedIndex];
                var tipo = selectedOption.getAttribute('tipo');
                document.getElementById('lista').value = tipo;
            });
            tela();
        }
        function tela(){
            if (document.getElementById('lista').value == "lendo") {
                document.getElementById('lendo').className = "";
            } else {
                document.getElementById('lendo').className = "escondido";
            }
            if (document.getElementById('lista').value == "desejo_ler") {
                document.getElementById('desejo-ler').className = "";
            } else {
                document.getElementById('desejo-ler').className = "escondido";
            }
            if (document.getElementById('lista').value == "lidos") {
                document.getElementById('lidos').className = "";
            } else {
                document.getElementById('lidos').className = "escondido";
            }
        }
    </script>
    <style>
        .escondido{
            display: none;
        }
    </style>
{% endblock %}

{% block conteudo %}
    <form>
        <select id="select-listas" onclick="atualizarPagina()">
            <option tipo="lendo">
                Lendo
            </option>
            <option tipo="desejo_ler">
                Desejo ler
            </option>
            <option tipo="lidos">
                Lidos
            </option>
        </select>
    </form>
    <div id="lista">
        <div id="lendo" value="lendo">
            <h2>Lendo</h2>
            {% for interacao in lendo %}
                <h3>{{ interacao.livro }}</h3><br>
                <p>&emsp;{{ interacao.livro.descricao }}</p>  
            {% endfor %}
        </div>
        <div class="escondido" id="desejo-ler">
            <h2>Desejo ler</h2> <a href="">Adicionar Livro</a>
            {% for interacao in desejo_ler %}
                <h3>{{ interacao.livro }}</h3><br>
                <p>&emsp;{{ interacao.livro.descricao }}</p>
            {% endfor %}
        </div>
        <div class="escondido" id="lidos">
            <h2>Lidos</h2>
            {% for interacao in lidos %}
                <h3>{{ interacao.livro }}</h3><br>
                <p>&emsp;{{ interacao.livro.descricao }}</p>
            {% endfor %}
        </div>
    </div>
    <!-- <div class="listas">
        <div class="ler">
            <ul>
                <h2>Desejo ler</h2> <a href="">Adicionar Livro</a>
                {% for interacao in desejo_ler %}
                    <li>
                        <h3>{{ interacao.livro }}</h3><br>
                        <p>&emsp;{{ interacao.livro.descricao }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="lendo">
            <ul>
                <h2>Lendo</h2>
                {% for interacao in lendo %}
                    <li>
                        <h3>{{ interacao.livro }}</h3><br>
                        <p>&emsp;{{ interacao.livro.descricao }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="lido">
            <ul>
                <h2>Lidos</h2>
                {% for interacao in lidos %}
                    <li>
                        <h3>{{ interacao.livro }}</h3><br>
                        <p>&emsp;{{ interacao.livro.descricao }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div> -->
{% endblock %}