{% extends 'mainapp/base.html' %}
{% load static %}
    {% block titulo %}{{ leitor.user.username }}{% endblock %}
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    {% endblock %}

{% block navbar %}{% endblock %}
{% block conteudo %}
    <!-- Adicionar campo para imagem -->
    <h1>{{ leitor.user.username }}</h1>
    <h4>{{ leitor.descricao }}</h4>
    <!-- {% if leitor in user.seguidores_de.all %}
    <a href="{% url 'seguir_leitor' leitor.id_username %}">Seguindo</a>
    {% else %}                                                                  DÚVIDA SOBRE REDIRECIONAMENTO
    <a href="{% url 'seguir_leitor' leitor.id_username %}">Seguir leitor</a>
    {% endif %} -->

    <!-- Seguidores -->
    <p>Seguidores {{ leitor.seguidos_por.count }}&emsp;Seguindo {{ leitor.seguidores_de.count }}</p>
    <hr>
        <div class="perfil-nav">
            <ul>
                <li>
                    <a href="">Atualizações recentes</a>
                    <a href="">Minha estante</a>
                    <a href="">Resenhas</a>
                </li>
            </ul>
        </div>
{% endblock %}