<form method="post" action="{% url 'feed' %}">
{% csrf_token %}
    {% if livros %}
    <select class="livros" name="livro">
        {% for l in livros %}
        <option value="{{l.livro.id}}">{{ l.livro.titulo }}</option>
        {% endfor %}
    </select>
    {% endif %}
    <label>
        Da página: <input type="number" name="pagina-inicial" min="0" value={{ ultima_pg }} readonly> 
        Até a página: <input type="number" name="pagina-final" min="1">
    </label>
    <textarea name="conteudo">Escreva seu comentário...</textarea>
    <input type='submit' value='Postar'>
</form>