<form method="post" action="">
    {% csrf_token %}
    
</form>
<div class="escreva-comentario">
    <p class="titulo">Escreva um comentário</p>
    <p>Livro: <select>
        {% for livro in user.usuario.lendo %}
        {% endfor %}
    </select></p>
    <p>
       De página:  <input type="number" name="pagina-inicial" min="1"> 
       até página: <input type="number" name="pagina-inicial" min="1">
    </p>
    <textarea placeholder="O que você está achando do livro?"></textarea>
    <button>Postar</button>
</div>