<form method="post" action="{% url 'feed' %}" class="postar-comentario">
{% csrf_token %}
    <h1>
        Escreva um comentário
    </h1>
    {% if livros %}
    <label class="select">Livro: 
        <select id="livro-select" name="livro" onclick="atualizarPagina()">
            <option value="0">Selecione</option>
            {% for l in livros %}
            {% with ultima_pagina=l.comentariosLeitorLivro.last.pagina_final %}
            <option value="{{l.livro.id}}" ultima-pagina="{{ ultima_pagina }}">{{ l.livro.titulo }}</option>
            {% endwith %}
            {% endfor %}
        </select>
    </label>
    {% endif %}
    <div class="inputs-paginas">
        <label>
            Da página: <input type="number" name="pagina-inicial" id="pagina-inicial" min="0" readonly>
        </label>
        <label>
            Até a página: <input type="number" name="pagina-final" min="1" max="{{l.livro.n_paginas}}">
        </label>
    </div>
    <textarea name="conteudo" placeholder="Escreva seu comentário..."></textarea>
    <input type='submit' value='Postar' class="botao">
</form>

