.meu-perfil{
    margin: 0px;
    padding: 0px;
}

.meu-perfil .nav-bar{
    background-color: gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.meu-perfil .nav-bar h1{
    font-size: 40px;
    margin-left: 20px;
    margin-right: auto;
    align-self: flex-start;
    margin-top: 20px;
}

.meu-perfil .nav-bar form{
    padding-right: 15px;
    align-self: flex-start;
    margin-top: 30px;
    display: flex;
}

.meu-perfil .nav-bar form input{
    padding: 8px;
    border-radius: 0px 15px 15px 0px;
    border-style: none;
    width: 200px;
}

.meu-perfil .nav-bar form button{
    padding: 8px;
    align-self: center;
    color: rgb(58, 58, 58);
    border-radius: 15px 0px 0px 15px;
    border-style: none;
    background-color: rgb(177, 177, 177);
}

.meu-perfil .nav-bar form button img{
    width: 20px;
    height: 20px;
}

.meu-perfil .nav-bar a{
    width: 100px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.meu-perfil .nav-bar a img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.meu-perfil .nav-bar a p{
    margin-top: 0px;
    font-size: 13px;
}

.meu-perfil .perfil-usuario{

}