.meu-perfil{
    margin: 0px;
    padding: 0px;
}

.meu-perfil .nav-bar{
    background-color: gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.meu-perfil .nav-bar h1{
    font-size: 40px;
    margin-left: 20px;
    margin-right: auto;
    align-self: flex-start;
    margin-top: 20px;
}

.meu-perfil .nav-bar form{
    padding-right: 15px;
    align-self: flex-start;
    margin-top: 30px;
    display: flex;
}

.meu-perfil .nav-bar form input{
    padding: 8px;
    border-radius: 0px 15px 15px 0px;
    border-style: none;
    width: 200px;
}

.meu-perfil .nav-bar form button{
    padding: 8px;
    align-self: center;
    color: rgb(58, 58, 58);
    border-radius: 15px 0px 0px 15px;
    border-style: none;
    background-color: rgb(177, 177, 177);
}

.meu-perfil .nav-bar form button img{
    width: 20px;
    height: 20px;
}

.meu-perfil .nav-bar a{
    width: 100px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.meu-perfil .nav-bar a img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.meu-perfil .nav-bar a p{
    margin-top: 0px;
    font-size: 13px;
}

.meu-perfil .perfil-usuario .capa img{
    width: 100%;
    height: 200px;

}

.meu-perfil .perfil-usuario .foto-perfil img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 8px;
    margin-left: 20px;
    position: absolute;
    top: 150px;
    left: 30px;
}

.meu-perfil .perfil-usuario .informacoes{
    margin-top: 60px;
    margin-left: 30px;
}

.meu-perfil .perfil-usuario .informacoes h1{
    font-size: 30px;
    margin-bottom: 5px;
}

.meu-perfil .perfil-usuario .informacoes h2{
    font-size: 25px;
    color: gray;
    font-weight: 100;
    margin-top: 0px;
}

.meu-perfil .perfil-usuario .informacoes p{
    font-size: 20px;
    margin: 0px;
    margin-right: 30px;
}

.meu-perfil .perfil-usuario .informacoes .seg{
    display: flex;
}

.meu-perfil .perfil-usuario .informacoes .seg p{
    margin-top: 20px;
    margin-right: 20px;
}

.meu-perfil .perfil-usuario hr{
    margin-top: 20px;
    border-top: 2px solid;
    color: gray;
}

.meu-perfil .paginas{
    display: flex;
}

.meu-perfil .paginas li{
    list-style: none;
    margin: auto;
}

.meu-perfil .paginas li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

@media only screen and (max-width: 1000px){
    .meu-perfil .perfil-usuario .foto-perfil img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border-style: solid;
        border-color: black;
        border-width: 8px;
        margin-left: 20px;
        position: absolute;
        top: 190px;
        left: 10px;
    }

    .meu-perfil .perfil-usuario .informacoes p{
        font-size: 20px;
        margin: 0px;
    }
}