@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Fontes  */
  --montserrat: 'Montserrat', sans-serif;
  --roboto: 'Inter', serif;
  --font-family: 'Montserrat', sans-serif;
  --h1-title: 800 1.5rem/135% var(--font-family);
  --h2-title: 800 1.25rem/140% var(--font-family);
  --h3-title: 600 1rem/140% var(--font-family);
  --text-md: 600 1rem/140% var(--font-family);

  /* Cores */
  --night: #131313;
  --penn-blue: #3d3569;
  --ultra-violet: #8e72bb;
  --periwinkle: #d0c5ff;
  --periwinkle-light: #e1daff;
  --chartreuse: #d5f000;
  --plum: #f399dd;
  --white: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea {
  font-family: var(--font-family);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--periwinkle);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--ultra-violet);
  border-radius: 20px;
}
