@import url("../base.css");
.detalhesLivro{
    display: flex;
}
.detalhesLivro div{
    margin-left: 8rem;
    margin-top: 4rem;
}
.capa{
    width: 20rem;

}
.infosLivro{
    width: 60rem;
}
.infosLivro h1{
    color: var(--penn-blue);
    margin-bottom: 1rem;
}
.infosLivro p{
    margin-bottom: 0.5rem;
}
.infosLivro button{
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--penn-blue);
    color: var(--white);
    font-weight: 700;
    transition: 300ms;
    cursor: pointer;
}