@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
:root{
    --montserrat: "Montserrat", sans-serif;
    --roboto: "Roboto Flex", sans-serif;
}
body{
    margin: 0;
    background-color: #F6F6F6;
}
nav .search-bar{
    background-color: #E1DAFF;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem;
}
nav .search-bar h1{
    margin: 0;
    align-self: center;
}

nav .search-bar .logo{
    width: 10rem;
}

nav .search-bar input{
    border: none;
    border-radius: 10px;
    width: 260px;
    padding: 0.7rem;
}
nav .search-bar .meu-perfil{
    text-decoration: none;
    color: #221D57;
}
nav .search-bar .meu-perfil img{
    margin-left: 1rem;
}
nav .search-bar .meu-perfil p{
   font-family: var(--roboto);
   margin: 0;
}

nav .search-bar .barra-meu-perfil{
    display: flex;
}
nav .search-bar .barra-meu-perfil form{
    align-self: center;
    margin-right: 1rem;
}
nav .nav-bar{
    background-color: #F6F6F6;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);
}

nav .nav-bar ul{
    margin: 0;
    padding: 1rem 2.5rem;
    list-style: none;
    display: flex;
}
nav .nav-bar ul li{
    display: flex;
}
nav .nav-bar ul li a{
    padding-right: 1.5rem;
    font-family: var(--montserrat);
    font-weight:500;
    color: #221D57;
    text-decoration: none;
    align-self: flex-start;
    margin-left: 0.5rem;
}

main{
    margin: 2.5rem;
}