@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
:root{
    --montserrat: "Montserrat", sans-serif;
    --roboto: "Roboto Flex", sans-serif;
}
body{
    background-color: #F6F6F6;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem;
}
header img{
    width: 10rem;
}
a{
    text-decoration: none;
    text-align: center;
    border-radius: 1.25rem;
}
#login{
    color: #221D57;
    font-family: var(--roboto);
    margin-right: 1.5rem;
    font-weight: 700;
    font-size: 1.3rem;
}
#cadastro{
    background-color: #221D57;
    color: white;
    padding: 0.5rem;
    font-family: var(--roboto);
    font-size: 1.3rem;
}
main{
    margin-top: 200px;
}
.conteudo{
    margin-left: 2.5rem;
    font-family: var(--montserrat);
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.conteudo img{
    width: 35rem;
    margin-right: 10rem;
}
.conteudo p{
    max-width: 43rem;
    font-size: 2rem;
    color: #221D57;
    margin-bottom: 3rem;
}
.conteudo p strong{
    color: #4D45A5;
}
.conteudo a{
    background-color: #221D57;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}
hr{
   border-top: 1px dotted #4D45A5;
   margin: 0;
}
.sobre-nos{
    margin: 4rem;
}
.texto-1, .texto-2, .texto-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.texto-1 img{
    width: 30rem;
    margin: auto;
}
.texto-2 img{
    width: 40rem;
    margin: auto;
}
.texto-3 img{
    width: 30rem;
    margin: auto;
}
.texto{
    text-align: justify;
}
.texto h3{
    font-family: var(--montserrat);
    color: #221D57;
    font-weight: 400;
    font-size: 2rem;
}
.texto p{
    max-width: 40rem;
    font-family: var(--roboto);
    font-size: 1.5rem;
}