@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
:root{
    --montserrat: "Montserrat", sans-serif;
    --roboto: "Roboto Flex", sans-serif;
}
main{
    margin: 13rem;
    margin-top: 3rem;
}
main #Livro-popular-lista{
    display: flex;
    margin-bottom: 2rem;
}

main #Livro-popular-lista img{
    margin-right: 1.5rem;
}
main #Livro-popular-lista .rank{
    font-size: 2rem;
    background-color: #221D57;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-family: var(--montserrat);
    width: 3rem;
    text-align: center;
    height: 3rem;
    padding: 0.3rem;
    margin-top: 0;
    margin-right: 1rem;
}

.cont-livro-popular h1{
    font-size: 1.5rem;
    margin-top: 0;
    font-family: var(--montserrat);
    color: #221D57;
}

.cont-livro-popular p{
    font-family: var(--roboto);
    width: 60rem;
}

.cont-livro-popular .n-paginas{
    color: #4D45A5;
}

.cont-livro-popular .botao{
    font-family: var(--roboto);
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
}

.cont-livro-popular #iniciar-leitr{
    color: white;
    background-color: #221D57;
    margin-right: 0.5rem;
}

.cont-livro-popular #add-lista{
    color: #221D57;
    background-color: #D0C5FF;
}

.error{
    margin: 0 13rem;
    margin-bottom: 2rem;
    font-family: var(--roboto);
    font-weight: bold;
    color: #221D57;
    background-color: #D5F000;
    width: 13rem;
    text-align: center;
    font-size: 2rem;
    padding: 1rem 2rem;
}