@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
:root{
    --montserrat: "Montserrat", sans-serif;
    --roboto: "Roboto Flex", sans-serif;
}
.select{
    margin: 3rem 13rem;
    margin-bottom: 0;
    border: 1px solid #D0C5FF;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.5rem;
    font-family: var(--roboto);
}

.add-livro{
    margin: 1rem 13rem;
    margin-bottom: 2rem;
    color: white;
    background-color: #221D57;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: var(--roboto);
}

.interacao-livro{
    margin: 0 13rem;
    display: flex;
    margin-bottom: 2rem;
}
.interacao-livro img{
    margin-right: 2rem;
}
.interacao-livro .conteudo h1{
    font-family: var(--montserrat);
    font-size: 1.5rem;
    color: #221D57;
    margin-top: 0;
}

.interacao-livro .conteudo p{
    font-family: var(--roboto);
}

.interacao-livro .conteudo button{
    color: white;
    background-color: #221D57;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: var(--roboto);
}

.mensagem{
    margin: 0 13rem;
    margin-bottom: 2rem;
    font-family: var(--roboto);
    font-weight: bold;
    color: #221D57;
    background-color: #D5F000;
    width: 13rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}