@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
:root{
    --montserrat: "Montserrat", sans-serif;
    --roboto: "Roboto Flex", sans-serif;
}

.adicionar{
    background-color: #221D57;
    color: #F6F6F6;
    text-decoration: none;
    padding: 0.2rem;
    border-radius: 10px;
    font-family: var(--roboto);
}
.card-lendo-perfil .card-ler-perfil, .card-lido-perfil{
}
ul{
    padding-left: 0;  
    margin-left: 1rem;
    text-decoration: none;
    list-style-type: none;
}
ul p{
    margin-top: 0;
}
ul h3{
    margin-bottom: 0;
}
.listas-perfil{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}
.listas-perfil a{
    align-self: flex-end;
}
.lendo-perfil, .ler-perfil, .lido-perfil{
    border: 2px solid #D0C5FF;
    border-radius: 1.5rem;
    padding: 1rem;
    height: 22rem;
    overflow-y: scroll;
    width: 20rem;
}
.ler-perfil{
    margin: 0 2rem; 
}
.titulo-listas-perfil{
    text-align: left;
    color: #221D57;
    font-family: var(--montserrat);
}
.card-lendo-perfil li, .card-ler-perfil li, .card-lido-perfil li{
    border: 1px solid #D0C5FF;
    font-family: var(--roboto);
    border-radius: 1.5rem;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
}