body{
    margin: 0;
    background-color: #F6F6F6;
}
nav .search-bar{
    background-color: #E1DAFF;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
nav .search-bar h1{
    margin: 0;
}

nav .search-bar input{
    border: none;
    border-radius: 10px;
    width: 260px;
}

nav .nav-bar{
    background-color: #F6F6F6;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);
}

nav .nav-bar ul{
    margin: 0;
    padding: 1rem;
    list-style: none;
}

nav .nav-bar ul li a{
    padding-right: 1.5rem;
}