@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
:root{
    --montserrat: "Montserrat", sans-serif;
    --roboto: "Roboto Flex", sans-serif;
}
.postar-comentario{
    border: 2px solid #D0C5FF;
    border-radius: 1.5rem;
    width: 24.8rem;
    padding: 2rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.postar-comentario h1{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: var(--montserrat);
    color: #221D57;
}

.postar-comentario label{
    font-family: var(--roboto);
    color: #221D57;
}

.postar-comentario .select select{
    width: 21.5rem;
    background-color: #F6F6F6;
    border: 1px solid #D0C5FF;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.postar-comentario .inputs-paginas{
    display: flex;
}

.postar-comentario .inputs-paginas input{
    background-color: #F6F6F6;
    border: 1px solid #D0C5FF;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    width: 6rem;
    margin-right: 0.5rem;
}

.postar-comentario textarea{
    background-color: #F6F6F6;
    border: 1px solid #D0C5FF;
    border-radius: 10px;
    height: 8rem;
    width: 23.1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    resize: none;
}

.postar-comentario .botao{
    width: 5.6rem;
    align-self: flex-end;
    font-size: 1rem;
    background-color: #221D57;
    color: #F6F6F6;
    border: none;
    border-radius: 10px;
    padding: 0.3rem;
    font-family: var(--roboto);
    margin-right: 0.5rem;
}

.error{
    font-family: var(--roboto);
    color: #221D57;
    font-weight: bolder;
    text-align: center;
    font-size: 1.2rem;
}