.postar-comentario{
    border: 2px solid #D0C5FF;
    border-radius: 1.5rem;
    width: 30rem;
    padding: 2rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
}
.postar-comentario p{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.postar-comentario .select select{
    width: 20.7rem;
    background-color: #F6F6F6;
    border: 1px solid #D0C5FF;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.postar-comentario .inputs-paginas{
    
    display: flex;
}

.postar-comentario .inputs-paginas input{
    background-color: #F6F6F6;
    border: 1px solid #D0C5FF;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    width: 6rem;
    margin-right: 0.5rem;
}

.postar-comentario textarea{
    background-color: #F6F6F6;
    border: 1px solid #D0C5FF;
    border-radius: 10px;
    height: 8rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    resize: none;
}

.postar-comentario .botao{
    width: 5.6rem;
    align-self: flex-end;
    font-size: 1rem;
    background-color: #221D57;
    color: #F6F6F6;
    border: none;
    border-radius: 10px;
    padding: 0.3rem;
}

