.main-pub-recentes{
    display: flex;
    width: 90%;
    margin: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
:root{
    --roboto: "Roboto Flex", sans-serif;
}
.comentario{
    width: 40rem;
    border: 2px solid #D0C5FF;
    border-radius: 1.5rem;
    padding: 2rem;
    font-family: var(--roboto);
    margin-bottom: 2rem;
    margin-left: 1rem;
}
.nome-botao-seguir-data{
    display: flex;
    justify-content: space-between;
}
.nome-botao-seguir-data p{
    margin: 0;
}
.nome-botao-seguir-data img{
    width: 65px;
}
.nome-botao-seguir-data .perfil{
    display: flex;
    font-size: 1.1rem;
}
.nome-botao-seguir-data .perfil .nome p{
    color: #221D57;
}
.nome-botao-seguir-data .perfil .nome a{
    text-decoration: none;
    color: #6761A8;
    font-weight: 400;
}
.nome-botao-seguir-data .nome{
    margin: 0.5rem 1rem;
    font-weight: bold;
    margin: 0.5rem 1rem;
}
.nome-botao-seguir-data .data{
    margin: 0.5rem 1rem;
    color: #6761A8;
} 
.nome-botao-seguir-data .botao-seguir{
    margin: 0.5rem 0rem;
    text-decoration: none;
    color: white;
    background-color: #221D57;
    border-radius: 10px;
    padding: 0.5rem;
    max-height: 1.2rem;
}
.nome-usuario{
    margin-top: 0.3rem;
}
.titulo-autor{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.paginas{
    margin-top: 0.3rem;
    color: #6761A8;
}