{% extends 'mainapp/pagina_leitor.html' %}
{% load static %}
{% block titulo %}Pratiler | {{request.user.username}}{% endblock %}
{% block head %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/minha_estante_perfil.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'css/resenhas.css' %}">
{% endblock %}
{% block main %}
<div class="block-resenhas">
    <p>Resenhas</p>
    <div class="resenhas">
        {% if leitor.resenha_set.all %}
            {% for resenha in leitor.resenha_set.all %}
                <div class="card-resenhas">
                    <div class="card-resenhas-content">
                        <p><strong>{{resenha.livro.titulo}} - {{resenha.livro.autor.nome}}</strong></p>
                        <p>{{ resenha.titulo }}</p>
                        <a href="{% url 'abrir_resenha_especifica' resenha.pk %}" class="botao-ler-resenha">Ler resenha</a>
                    
                    </div>
                    <img src="{{ resenha.livro.capa }}">
                </div>
            {% endfor %}
        {%else%}
            <p class="mensagem">Não há resenhas postadas ainda</p>
        {% endif %}
    </div>
    {% if leitor == user.usuario %}
        <a href="{% url 'escrever_resenha' %}" class="botao-escrever-resenha">Escrever Resenha</a>
    {% endif %}
</div>
{% endblock%}