*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
.main-content{
    max-width: 1200px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    align-items: center;
}
header{
    background-color: #D9D9D9;
    padding: 15px 0;
}
header .flex-container{
    justify-content: space-between;
}
.search{
    margin-right: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    transition: box-shadow 0.25s;
}
.search:focus-within{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.search-input{
    width: 240px;
    margin-left: 10px; 
    outline: none;
    border: none;
    background-color: transparent;
}
.profile-header a{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.profile-header img{
    height: 40px;
}
section#profile{
    padding-block: 20px;
    border-bottom: 1px solid #D9D9D9;
}
#profile-photo img{
    height: 140px;
}
#follow-field{
    width: 190px;
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
}
#setting-area{
    display: flex;
    align-items: center;
}
#profile-navbar ul{
    margin-block: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}