:root {
    --grey-color: #D9D9D9;
    --white-color: #FFF;
    --beige-color: #F3EEEE;
    --light-grey-color: #FBFBFB;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* =====HEADER===== */

.header-auth {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

/* =====AUTH===== */

.auth-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 15px;
    background-color: var(--grey-color);
}

.auth-title {
    font-size: 32px;
}

.auth-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0;
}

.auth-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 15px;
}

.auth-input {
    background-color: var(--white-color);
    padding: 5px;
    border-radius: 15px;
}

.auth-input input {
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
}

.auth-submit {
    background-color: green;
    padding: 5px;
    border-radius: 15px;
}
.auth-submit input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    width: 100px;
}