{% extends 'mainapp/base.html' %}
{% load static %}

{% block titulo %}Pratiler | Livros{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/livros_populares.css'%}">
{% endblock %}

{% block conteudo %}
    <main>
        {% if livros %}
        <ol class="rank-ol">
            {% for livro in livros %}
            <li>
                <div id="Livro-popular-lista">
                    <img src="{{ livro.capa.url }}" width="200px" height="300px">
                    <div id="conteudo-livro-popular">
                        <h2>
                            {{ livro.titulo }}
                        </h2>
                
                        <p>
                            {{ livro.descricao }}
                        </p>
                        <p>
                            Número de páginas: {{ livro.n_paginas }}
                        </p>
                        <p>
                            ISBN {{ livro.isbn }}
                        </p>
                        <p>
                            Autor {{ livro.autor }}
                        </p>
                        <button>Iniciar leitura</button>
                        <button>Adicionar a lista</button>
                        <p>XX leitores comentaram esse livro na última semana</p> <!-- funcionalidade de ver quantos leitors comentaram na ultima semana-->
                    </div>                  
                </div>
            </li>
            {%endfor%}
        </ol>
        {%else%}
        <h1>Não há livros populares no momento.</h1>
        {%endif%}
    </main>
{% endblock %}