{% extends 'mainapp/base.html' %}
{% load static %}

{% block titulo %}Pratiler | Minha Estante{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/minha_estante.css' %}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('lista').value = "lendo";
            tela();

            // Event listener for the Add Book button
            document.getElementById('add-livro-btn').addEventListener('click', function() {
                document.getElementById('popup').style.display = 'block';
            });

            // Event listener for the Close button
            document.getElementById('close-popup').addEventListener('click', function() {
                document.getElementById('popup').style.display = 'none';
            });

            atualizarPagina();
        });

        function atualizarPagina() {
            document.getElementById('select-listas').addEventListener('change', function() {
                var selectedOption = this.options[this.selectedIndex];
                var tipo = selectedOption.getAttribute('tipo');
                document.getElementById('lista').value = tipo;
                tela();
            });
            tela();
        }

        function tela() {
            var lista = document.getElementById('lista').value;
            document.getElementById('lendo').className = lista === "lendo" ? "" : "escondido";
            document.getElementById('desejo-ler').className = lista === "desejo_ler" ? "" : "escondido";
            document.getElementById('lidos').className = lista === "lidos" ? "" : "escondido";
        }
    </script>
{% endblock %}

{% block conteudo %}
    <form>
        <select id="select-listas" onclick="atualizarPagina()" class="select">
            <option tipo="lendo">Leituras atuais</option>
            <option tipo="desejo_ler">Desejo ler</option>
            <option tipo="lidos">Livros lidos</option>
        </select>
    </form>
    <div id="lista">
        <button id="add-livro-btn" class="add-livro">
            Adicionar livro
        </button>
        <div class="escondido" id="lendo">
            {% if lendo %}
                {% for interacao in lendo %}
                    <div class="interacao-livro">
                        <picture class="imagem">
                            {% if interacao.livro.capa.url %}
                            <img src="{{ interacao.livro.capa.url }}" width="200px" height="300px">
                            {% else %}
                            <img src="../media/capa/default.jpg" width="200px" height="300px">
                            {% endif %}
                        </picture>
                        <div class="conteudo">
                            <h1>
                                {{ interacao.livro.titulo }} - {{ interacao.livro.autor.nome }}
                            </h1>
                            <p>
                                {{ interacao.livro.descricao }}
                            </p>
                            <button>
                                {{ interacao.comentariosLeitorLivro.last.pagina_final }}/{{ interacao.livro.n_paginas}} páginas
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="mensagem">Não há livros nesta lista.</p>
            {% endif %}
        </div>
        <div class="escondido" id="desejo-ler">
            {% if desejo_ler %}
                {% for interacao in desejo_ler %}
                    <div class="interacao-livro">
                        <picture class="imagem">
                            <!--<img src="{{ interacao.livro.capa.url }}" width="200px" height="300px"> -->
                            {% if interacao.livro.capa.url %}
                                <img src="{{ interacao.livro.capa.url }}" width="200px" height="300px">
                            {% else %}
                                <img src="../media/capa/default.jpg" width="200px" height="300px">
                            {% endif %}
                        </picture>
                        <div class="conteudo">
                            <h1>
                                {{ interacao.livro.titulo }} - {{ interacao.livro.autor.nome }}
                            </h1>
                            <p>
                                {{ interacao.livro.descricao }}
                            </p>
                            <button>
                                Iniciar leitura
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="mensagem">Não há livros nesta lista.</p>
            {% endif %}
        </div>
        <div class="escondido" id="lidos">
            {% if lidos %}
                {% for interacao in lidos %}
                <div class="interacao-livro">
                    <picture class="imagem">
                        <img src="{{ interacao.livro.capa.url }}" width="200px" height="300px">
                    </picture>
                    <div class="conteudo">
                        <h1>
                            {{ interacao.livro.titulo }} - {{ interacao.livro.autor.nome }}
                        </h1>
                        <p>
                            {{ interacao.livro.descricao }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p class="mensagem">Não há livros nesta lista.</p>
            {% endif %}
        </div>
    </div>

    <!-- Pop-up -->
    <div id="popup">
        <div id="popup-content">
            <span id="close-popup" class="close">&times;</span>
            <h2>Livros</h2>
            <script>
                function selecionarLivro(livroId) {
                    document.querySelectorAll('.interacao-livro-1').forEach(function(div) {
                        div.classList.remove('selecionado');
                    });
                    document.getElementById('interacao-livro-' + livroId).classList.add('selecionado');
                }
            </script>
            {% if livros %}
                <form action="{% url 'adicionar_estante' %}" method="post">
                {% csrf_token %}
                    <select id="select-listas-1" onclick="atualizarPagina()" class="select" name="select">
                        <option value="LN">Leituras atuais</option>
                        <option value="QL">Desejo ler</option>
                        <option value="LD">Livros lidos</option>
                    </select>
                    {% for livro in livros %}
                            <div class="interacao-livro-1" id="interacao-livro-{{livro.id}}">
                                <input type="radio" name="livro_id" value="{{ livro.id }}" onclick="selecionarLivro({{ livro.id }})" class="input-radio">
                                <picture class="imagem">
                                    <img src="{{ livro.capa.url }}" width="200px" height="300px">
                                </picture>
                                <div class="conteudo">
                                    <h1>
                                        {{ livro.titulo }} - {{ livro.autor.nome }}
                                    </h1>
                                    <p>
                                        {{ livro.descricao }}
                                    </p>
                                </div>
                            </div>
                    {% endfor %}
                    <input type="submit" value="Adicionar livro" class="botao">
                </form>
            </form>
            {% else %}
                <p class="mensagem">Não há livros disponíveis.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
