name: Backend Pipeline

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.11]

    steps:
    - uses: actions/checkout@v4

    - name: Use python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: cd to backend directory
      run: cd ./backend/mysite
    - name: change file permissions
      run:  chmod +x ./construir_backend.sh
    - name: create python venv with dependencies
      run: ./construir_backend.sh
