@import url("../base.css");

.postarComentario{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);  
    border-radius: 1.5rem;
    width: 24.8rem;
    padding: 2rem;
    margin-bottom: 0;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    max-height: 21rem;
}

.postarComentario h1{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: var(--montserrat);
    color: var(--penn-blue);
}

.postarComentario label{
    font-family: var(--roboto);
    color: var(--penn-blue);
}

.postarComentario .select select{
    width: 21.5rem;
    background-color: var(--white);
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.postarComentario .inputsPaginas{
    display: flex;
}

.postarComentario .inputsPaginas input{
    background-color: var(--white);
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    width: 6rem;
    margin-right: 0.5rem;
}

.postarComentario textarea{
    background-color: var(--white);
    border: 1px solid #D7D7D7;
    border-radius: 10px;
    height: 8rem;
    width: 21.4rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    resize: none;
}

.postarComentario .botao{
    width: 5.6rem;
    align-self: flex-end;
    background-color: var(--penn-blue);
    color: #F6F6F6;
    border: none;
    border-radius: 10px;
    padding: 0.3rem;
    font-family: var(--montserrat);
    font-weight: 500;
}

.error{
    font-family: var(--roboto);
    color: #221D57;
    font-weight: bolder;
    text-align: center;
    font-size: 1.2rem;
}